.feedback {
    background-color: $gray;
    padding-top: rem(140);
    padding-bottom: rem(140);

    &-title {
        text-align: center;
        margin-bottom: rem(60);
    }

    &-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &-foto {
        margin: 0 auto;
    }

    &-name {
        text-align: center;
        margin-top: rem(20);
        margin-bottom: rem(20);
    }

    &-text {
        text-align: center;
        margin: 0 auto;
        max-width: rem(400);
    }
}