html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    appearance: none;
    font: inherit;

    &:disabled {
        cursor: not-allowed;
    }
}

a, button {
    transition: color 0.2s, background-color 0.2s, opacity 0.2s, transform 0.2s;
}

input {
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    display: block;
}